request.token
client_secrets.json
data/**/*.png
data/**/*.mp3
data/**/*.mp4
# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# End of https://www.gitignore.io/api/python
moviepy-1.0.3/ez_setup.py
moviepy-1.0.3/files.txt
moviepy-1.0.3/LICENCE.txt
moviepy-1.0.3/MANIFEST.in
moviepy-1.0.3/PKG-INFO
moviepy-1.0.3/README.rst
moviepy-1.0.3/setup.cfg
moviepy-1.0.3/setup.py
moviepy-1.0.3/tom_credits.txt
moviepy-1.0.3/docs/conf.py
moviepy-1.0.3/docs/demo_preview.jpeg
moviepy-1.0.3/docs/docker.rst
moviepy-1.0.3/docs/FAQ.rst
moviepy-1.0.3/docs/gallery.rst
moviepy-1.0.3/docs/index.rst
moviepy-1.0.3/docs/install.rst
moviepy-1.0.3/docs/logo.png
moviepy-1.0.3/docs/make.bat
moviepy-1.0.3/docs/Makefile
moviepy-1.0.3/docs/makehtml.sh
moviepy-1.0.3/docs/opencv_instructions.rst
moviepy-1.0.3/docs/_static/logo_small.jpeg
moviepy-1.0.3/docs/_static/logo.png
moviepy-1.0.3/docs/_static/moviepy.css
moviepy-1.0.3/docs/_themes/.gitignore
moviepy-1.0.3/docs/advanced_tools/advanced_tools.py
moviepy-1.0.3/docs/advanced_tools/advanced_tools.rst
moviepy-1.0.3/docs/examples/compo_from_image.jpeg
moviepy-1.0.3/docs/examples/compo_from_image.rst
moviepy-1.0.3/docs/examples/dancing_knights.rst
moviepy-1.0.3/docs/examples/example_with_sound.rst
moviepy-1.0.3/docs/examples/examples.rst
moviepy-1.0.3/docs/examples/headblur.rst
moviepy-1.0.3/docs/examples/logo.rst
moviepy-1.0.3/docs/examples/masked_credits.rst
moviepy-1.0.3/docs/examples/moving_letters.rst
moviepy-1.0.3/docs/examples/painting_effect.rst
moviepy-1.0.3/docs/examples/quick_recipes.rst
moviepy-1.0.3/docs/examples/several_characters.rst
moviepy-1.0.3/docs/examples/star_worms.rst
moviepy-1.0.3/docs/examples/the_end.rst
moviepy-1.0.3/docs/examples/ukulele_concerto.rst
moviepy-1.0.3/docs/getting_started/audioclips.rst
moviepy-1.0.3/docs/getting_started/circle.gif
moviepy-1.0.3/docs/getting_started/compositing.rst
moviepy-1.0.3/docs/getting_started/effects.rst
moviepy-1.0.3/docs/getting_started/efficient_moviepy.rst
moviepy-1.0.3/docs/getting_started/explanations.jpeg
moviepy-1.0.3/docs/getting_started/getting_started.rst
moviepy-1.0.3/docs/getting_started/ipynb_example.jpeg
moviepy-1.0.3/docs/getting_started/quick_presentation.rst
moviepy-1.0.3/docs/getting_started/stacked.jpeg
moviepy-1.0.3/docs/getting_started/videoclips.rst
moviepy-1.0.3/docs/getting_started/videoWH.jpeg
moviepy-1.0.3/docs/getting_started/working_with_matplotlib.rst
moviepy-1.0.3/docs/ref/AudioClip.rst
moviepy-1.0.3/docs/ref/audiofx.rst
moviepy-1.0.3/docs/ref/audiotools.rst
moviepy-1.0.3/docs/ref/bideotools_gradient.jpeg
moviepy-1.0.3/docs/ref/Clip.rst
moviepy-1.0.3/docs/ref/code_origanization.rst
moviepy-1.0.3/docs/ref/decorators.rst
moviepy-1.0.3/docs/ref/ffmpeg.rst
moviepy-1.0.3/docs/ref/ref.rst
moviepy-1.0.3/docs/ref/videofx.rst
moviepy-1.0.3/docs/ref/videotools_credits.jpeg
moviepy-1.0.3/docs/ref/videotools.rst
moviepy-1.0.3/docs/ref/VideoClip/VideoClip.rst
moviepy-1.0.3/docs/ref/audiofx/moviepy.audio.fx.all.audio_fadein.rst
moviepy-1.0.3/docs/ref/audiofx/moviepy.audio.fx.all.audio_fadeout.rst
moviepy-1.0.3/docs/ref/audiofx/moviepy.audio.fx.all.audio_loop.rst
moviepy-1.0.3/docs/ref/audiofx/moviepy.audio.fx.all.audio_normalize.rst
moviepy-1.0.3/docs/ref/audiofx/moviepy.audio.fx.all.volumex.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.accel_decel.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.blackwhite.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.blink.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.colorx.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.crop.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.even_size.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.fadein.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.fadeout.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.freeze_region.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.freeze.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.gamma_corr.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.headblur.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.invert_colors.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.loop.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.lum_contrast.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.make_loopable.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.margin.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.mask_and.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.mask_color.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.mask_or.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.mirror_x.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.mirror_y.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.painting.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.resize.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.rotate.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.scroll.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.speedx.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.supersample.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.time_mirror.rst
moviepy-1.0.3/docs/ref/videofx/moviepy.video.fx.all.time_symmetrize.rst
moviepy-1.0.3/moviepy/__init__.py
moviepy-1.0.3/moviepy/Clip.py
moviepy-1.0.3/moviepy/compat.py
moviepy-1.0.3/moviepy/config_defaults.py
moviepy-1.0.3/moviepy/config.py
moviepy-1.0.3/moviepy/decorators.py
moviepy-1.0.3/moviepy/editor.py
moviepy-1.0.3/moviepy/tools.py
moviepy-1.0.3/moviepy/utils.py
moviepy-1.0.3/moviepy/version.py
moviepy-1.0.3/moviepy/audio/__init__.py
moviepy-1.0.3/moviepy/audio/AudioClip.py
moviepy-1.0.3/moviepy/audio/fx/__init__.py
moviepy-1.0.3/moviepy/audio/fx/audio_fadein.py
moviepy-1.0.3/moviepy/audio/fx/audio_fadeout.py
moviepy-1.0.3/moviepy/audio/fx/audio_left_right.py
moviepy-1.0.3/moviepy/audio/fx/audio_loop.py
moviepy-1.0.3/moviepy/audio/fx/audio_normalize.py
moviepy-1.0.3/moviepy/audio/fx/volumex.py
moviepy-1.0.3/moviepy/audio/fx/all/__init__.py
moviepy-1.0.3/moviepy/audio/io/__init__.py
moviepy-1.0.3/moviepy/audio/io/AudioFileClip.py
moviepy-1.0.3/moviepy/audio/io/ffmpeg_audiowriter.py
moviepy-1.0.3/moviepy/audio/io/preview.py
moviepy-1.0.3/moviepy/audio/io/readers.py
moviepy-1.0.3/moviepy/audio/tools/__init__.py
moviepy-1.0.3/moviepy/audio/tools/cuts.py
moviepy-1.0.3/moviepy/video/__init__.py
moviepy-1.0.3/moviepy/video/VideoClip.py
moviepy-1.0.3/moviepy/video/compositing/__init__.py
moviepy-1.0.3/moviepy/video/compositing/CompositeVideoClip.py
moviepy-1.0.3/moviepy/video/compositing/concatenate.py
moviepy-1.0.3/moviepy/video/compositing/on_color.py
moviepy-1.0.3/moviepy/video/compositing/positioning.py
moviepy-1.0.3/moviepy/video/compositing/transitions.py
moviepy-1.0.3/moviepy/video/fx/__init__.py
moviepy-1.0.3/moviepy/video/fx/accel_decel.py
moviepy-1.0.3/moviepy/video/fx/blackwhite.py
moviepy-1.0.3/moviepy/video/fx/blink.py
moviepy-1.0.3/moviepy/video/fx/colorx.py
moviepy-1.0.3/moviepy/video/fx/crop.py
moviepy-1.0.3/moviepy/video/fx/even_size.py
moviepy-1.0.3/moviepy/video/fx/fadein.py
moviepy-1.0.3/moviepy/video/fx/fadeout.py
moviepy-1.0.3/moviepy/video/fx/freeze_region.py
moviepy-1.0.3/moviepy/video/fx/freeze.py
moviepy-1.0.3/moviepy/video/fx/gamma_corr.py
moviepy-1.0.3/moviepy/video/fx/headblur.py
moviepy-1.0.3/moviepy/video/fx/invert_colors.py
moviepy-1.0.3/moviepy/video/fx/loop.py
moviepy-1.0.3/moviepy/video/fx/lum_contrast.py
moviepy-1.0.3/moviepy/video/fx/make_loopable.py
moviepy-1.0.3/moviepy/video/fx/margin.py
moviepy-1.0.3/moviepy/video/fx/mask_and.py
moviepy-1.0.3/moviepy/video/fx/mask_color.py
moviepy-1.0.3/moviepy/video/fx/mask_or.py
moviepy-1.0.3/moviepy/video/fx/mirror_x.py
moviepy-1.0.3/moviepy/video/fx/mirror_y.py
moviepy-1.0.3/moviepy/video/fx/painting.py
moviepy-1.0.3/moviepy/video/fx/resize.py
moviepy-1.0.3/moviepy/video/fx/rotate.py
moviepy-1.0.3/moviepy/video/fx/scroll.py
moviepy-1.0.3/moviepy/video/fx/speedx.py
moviepy-1.0.3/moviepy/video/fx/supersample.py
moviepy-1.0.3/moviepy/video/fx/time_mirror.py
moviepy-1.0.3/moviepy/video/fx/time_symmetrize.py
moviepy-1.0.3/moviepy/video/fx/all/__init__.py
moviepy-1.0.3/moviepy/video/io/__init__.py
moviepy-1.0.3/moviepy/video/io/bindings.py
moviepy-1.0.3/moviepy/video/io/downloader.py
moviepy-1.0.3/moviepy/video/io/ffmpeg_reader.py
moviepy-1.0.3/moviepy/video/io/ffmpeg_tools.py
moviepy-1.0.3/moviepy/video/io/ffmpeg_writer.py
moviepy-1.0.3/moviepy/video/io/gif_writers.py
moviepy-1.0.3/moviepy/video/io/html_tools.py
moviepy-1.0.3/moviepy/video/io/ImageSequenceClip.py
moviepy-1.0.3/moviepy/video/io/preview.py
moviepy-1.0.3/moviepy/video/io/sliders.py
moviepy-1.0.3/moviepy/video/io/VideoFileClip.py
moviepy-1.0.3/moviepy/video/tools/__init__.py
moviepy-1.0.3/moviepy/video/tools/credits.py
moviepy-1.0.3/moviepy/video/tools/cuts.py
moviepy-1.0.3/moviepy/video/tools/drawing.py
moviepy-1.0.3/moviepy/video/tools/interpolators.py
moviepy-1.0.3/moviepy/video/tools/segmenting.py
moviepy-1.0.3/moviepy/video/tools/subtitles.py
moviepy-1.0.3/moviepy/video/tools/tracking.py
a3afd205-fcbb-4eea-965c-8d19cbc5bdf7TEMP_MPY_wvf_snd.mp3
